#sidebar {
    dock: right;
    width: auto;
}

#analysis {
    height: 1fr;
}

#hints {
    height: auto;
}

#history {
    height: 1fr;
    width: 1fr;
}

#command {
    dock: bottom;
    height: 4;
}